body {
    background-color: darkgray;
}

.float {
    float: left;
    margin-left: 20px;
    margin-bottom: 30px !important;
}

span {
    /*font-weight:800;*/
    font-size: 18px;
}

.left {
    margin-left: 20px;
}